<!DOCTYPE html>
<html lang="en" style="height: 655px;">

<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/master.css">
  {{{_sections.head}}}
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/profileCarousel.css"> -->
  <link rel="stylesheet" type="text/css" href="/assets/css/search.css">
  <!-- <link rel="stylesheet" type="text/css" href="/assets/css/backPackBuilder.css"> -->
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand bootlogo" href="/">BootCamping<img src="/assets/icons/boots.svg"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="">
          <a href="/profile">
            <div class='col-xs-5'>Profile</div><img class="col-xs-offset-5 iconglyph" src="/assets/icons/jason.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li class="">
          <a href="#">
            <div class='col-xs-5'>Campsites</div><img class="col-xs-offset-5 iconglyph" src="/assets/icons/tent.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li>
          <a href="#">
            <div class='col-xs-5'>Trails</div><img class="col-xs-offset-5 iconglyph" src="/assets/icons/boots.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class='col-xs-5'>Backpacks</div><span class="caret"></span> <img class="col-xs-offset-4 iconglyph" src="/assets/icons/backpack.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="/backpack">BUILD A BACKPACK</a></li>
            <li><a href="#">Day Trip</a></li>
            <li><a href="#">Heavy Weight</a></li>
            <li><a href="#">Light Weight</a></li>
            <li><a href="#">Weekend</a></li>
            <li><a href="#">Family</a></li>
          </ul>
        </li>
        <li>
          <a href="/mealplan">
            <div class='col-xs-5'>Meal―Plans</div><img class="col-xs-offset-5 iconglyph" src="/assets/icons/thinfish.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li>
          <a href="/firstaid">
            <div class='col-xs-5'>First Aid</div><img class="col-xs-offset-5 iconglyph" src="/assets/icons/firstaid.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li>
          <a href="#">
            <div class='col-xs-5'>Activities</div><img class="col-xs-offset-5 iconglyph" src="/assets/icons/machete.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main">
  <!-- Content Here -->
</div>
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700);
</style>
</head>
  <body>
    <div class="mdl-grid">
      {{{body}}}
    </div>
  </body>
<script type="text/javascript" src="/assets/js/master.js"></script>
</html>
