{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/assets/css/backPackBuilder.css">
{{/section}}
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header id="header">
            <div class="slider">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item">
                    <img src="https://s-media-cache-ak0.pinimg.com/736x/56/29/b4/5629b46972629264dc64cfb8c712324f.jpg">
                  </div>
                  <div class="item active">
                    <img src="http://mysticinvestigations.com/supernatural/wp-content/uploads/2015/11/Jason13th.jpg">
                  </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!--slider-->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand2" href="#"><img class="img-responsive" src="{{imageURL}}"></a>
                <span class="site-name"><b>{{firstName}}</b> {{lastName}}</span> <!-- fname lname -->
                <span class="site-description">{{userCity}}</span>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="mainNav">
                <ul class="nav main-menu navbar-nav">
                  <li><a href="index"><i class="fa fa-home"></i> HOME</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav  navbar-nav navbar-right">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </nav>
          </header>
          <!--/#HEADER-->
        </div>
      </div>
    </div>

<div class="container3">
    <div class="col-md-12">
      <div class=" col-md-5 form-group">
        <label for="usr">Back Pack Build: (i.e. "Day Trip", "Winter Gear")</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class=" col-md-6 form-group">
        <label for="BackPackImg">Back Pack Image (i.e. "Osprey Atmos 65", "Deuter Fox 30", "North Face Terra 55")</label>
        <input type="text" class="form-control" id="BackPackImg">
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox1" />
              <label for="checkbox1">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox2" />
              <label for="checkbox2">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox3" />
              <label for="checkbox3">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox4" />
              <label for="checkbox4">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox5" />
              <label for="checkbox5">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox6" />
              <label for="checkbox6">Sixth Option info</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox7" />
              <label for="checkbox7">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox8" />
              <label for="checkbox8">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox9" />
              <label for="checkbox9">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox10" />
              <label for="checkbox10">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox11" />
              <label for="checkbox11">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox12" />
              <label for="checkbox12">Sixth Option info</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox13" />
              <label for="checkbox13">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox14" />
              <label for="checkbox14">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox15" />
              <label for="checkbox15">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox16" />
              <label for="checkbox16">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox17" />
              <label for="checkbox17">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox18" />
              <label for="checkbox18">Sixth Option info</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox19" />
              <label for="checkbox19">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox20" />
              <label for="checkbox20">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox21" />
              <label for="checkbox21">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox22" />
              <label for="checkbox22">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox23" />
              <label for="checkbox23">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox24" />
              <label for="checkbox24">Sixth Option info</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox25" />
              <label for="checkbox25">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox26" />
              <label for="checkbox26">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox27" />
              <label for="checkbox27">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox30" />
              <label for="checkbox30">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox31" />
              <label for="checkbox31">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox32" />
              <label for="checkbox32">Sixth Option info</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox33" />
              <label for="checkbox33">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox34" />
              <label for="checkbox34">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox35" />
              <label for="checkbox35">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox36" />
              <label for="checkbox36">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox37" />
              <label for="checkbox37">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox38" />
              <label for="checkbox38">Sixth Option info</label>
            </div>
          </div>
        </div>
      </div>
      <div id="item-area" class="col-md-6">
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox39" />
              <label for="checkbox39">First Option default</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox40" />
              <label for="checkbox40">Second Option primary</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox41" />
              <label for="checkbox41">Third Option success</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox42" />
              <label for="checkbox42">Fourth Option danger</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox43" />
              <label for="checkbox43">Fifth Option warning</label>
            </div>
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox44" />
              <label for="checkbox44">Sixth Option info</label>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="funkyradio">
            <div class="funkyradio-success">
              <input type="checkbox" name="checkbox" id="checkbox45" />
              <label for="checkbox45">First Option default</label>
            </div>
          </div>
        </div>

      </div>
       <div class=" col-md-offset-7 col-md-2 form-group">
        <input type="text" class="form-control" id="NewItem">
      </div>
      <button type="button" class="addItem btn btn-info">Add Item</button>
      <button type="button" class=" btn btn-success">Build Backpack</button>
    </div>
</div>
