<div>
  <div class="col-md-offset-2 col-md-12"><h1>CAMPSITE SEARCH RESULTS:</h1></div>
  <!-- Result Model-->
  <div class="col-md-offset-2 col-md-12">
  <link rel="stylesheet" type="text/css" href="asset/css/search.css">
    <div class="col-md-12">
      <!-- CampGround Name -->
    <div class="col-md-4">Hello</div>
     <button type="button" class="col-md-2 btn btn-success">SAVE CAMPSITE</button>
     </div>
    <!-- CampGround Image -->
    <div class="col-md-4"><img class="CampSite" src="" alt="CampImage"></div>
    <!-- Camp Ground Info -->
    <div class="col-md-6">
      <div class="col-md-12">
        <!-- First Info like Description -->
        <div class="col-md-12">Hello</div>
        <!-- Second Info like Description -->
        <div class="col-md-12">Hello</div>
        <!-- Third Info like RV Friendly -->
        <div class="col-md-12">Hello</div>
      </div>
    </div>
  </div>
</div>
