{{#section 'head'}}
  <link rel="stylesheet" type="text/css" href="/assets/css/profileCarousel.css">
{{/section}}
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header id="header">
            <div class="slider">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item">
                    <img src="http://placehold.it/1200x400/F34336/F34336&amp;text=WORDPRESS THEME DEVELOPER">
                  </div>
                  <div class="item active">
                    <img src="http://placehold.it/1200x400/20BFA9/ffffff&amp;text=CLEAN %26 SMART">
                  </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!--slider-->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand2" href="#"><img class="img-responsive" src="{{imageURL}}"></a>
                <span class="site-name"><b>Jason</b> Voorhees</span>
                <span class="site-description">worpress theme developer</span>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="mainNav">
                <ul class="nav main-menu navbar-nav">
                  <li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav  navbar-nav navbar-right">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </nav>
            <div class="col-md-9"> HELLO WORLD THIS IS A PSEUDO BIO I'm Jason Voorhees. When I went to summer camp as a kid some bullies decided to ignore me as I drowned because they were to busy trying to get laid. So my mommy decided to take revenge my killing any campers who come to camp Crystal Lake. One day I found someone who pretended to by my mommy. So I killed her and all her friends. Then some pot smoking hippies lit me on fire and I found a hockey mask.</div>
          </header>
          <!--/#HEADER-->
          <script type="text/javascript">
          </script>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="Carousel" class="carousel2 slide">
          <div id="CampSiteCarousel">Camp Sites</div>
          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
          </div>
          <!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
      </div>
      <div class="col-md-12">
        <div id="Carousel2" class="carousel3 slide">
          <div id="TrailsCarousel">Trails</div>
          <ol class="carousel-indicators">
            <li data-target="#Carousel2" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel2" data-slide-to="1"></li>
            <li data-target="#Carousel2" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
          </div>
          <!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel2" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel2" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
      </div>
    </div>
    <div class="col-md-12">
      <div id="Carousel3" class="carousel4 slide">
        <div id="BackPackCarousel">Back Packs</div>
        <ol class="carousel-indicators">
          <li data-target="#Carousel3" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel3" data-slide-to="1"></li>
          <li data-target="#Carousel3" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://images-na.ssl-images-amazon.com/images/I/61co%2BYR-xbL._SX425_.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://content.backcountry.com/images/items/900/DTR/DTR2659/ANT.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://i5.walmartimages.com/asr/bf178d0b-f187-44f1-8146-0189f70711da_1.afd2401889eac3d5ea2383f343b928b6.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://cdn-us-cf2.yottaa.net/54636bb786305e35ea00040e/ca3ea000f77501321219123dfe2baf36.yottaa.net/v~13.208/is/image/im1/273521_3_1?resmode=4&op_usm=1,1,1,&qlt=70,1&hei=500&wid=500&align=0,1&yocs=2M_2N_&yoloc=us" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://content.backcountry.com/images/items/900/TNF/TNF00D6/X002.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://i5.walmartimages.com/asr/f301e382-dc3a-4e50-9c2e-72bde5cebfa0_1.c21f289d6ae4225503585876f6fe197e.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://images.thenorthface.com/is/image/TheNorthFace/A6K0_NUZ_hero?$638x745$" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://www.rei.com/media/e846eb9e-4df5-4c4e-9d75-3b534cbf6c10" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://static1.squarespace.com/static/544a75d7e4b0f8297d59c3b2/5457bc38e4b059d77e4a8de3/583f0bb8e3df28858debe0ca/1480526816508/Sky-Archer-Main-Photo-High-Rez.jpg?format=500w" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://www.rei.com/media/d51a5859-b689-4151-b066-ba93826e14ac" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://images-na.ssl-images-amazon.com/images/I/71V9OwD0A3L._SX425_.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="https://images-na.ssl-images-amazon.com/images/I/71SrY3Kz-iL._SX425_.jpg" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
        </div>
        <!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel3" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel3" class="right carousel-control">›</a>
      </div>
      <!--.Carousel-->
    </div>
  </div>
  </div>
