body,html{
    height: 100%;
  }

  .bootlogo {
    height: 180px;
  }
  /* remove outer padding */
  .main .row{
    padding: 0px;
    margin: 0px;
  }
  
  /*Remove rounded coners*/

  nav.sidebar.navbar {
    border-radius: 0px;
    height: 700px;
    position: fixed;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  /* Add gap to nav and right windows.*/
  .main{
    padding: 10px 10px 0 10px;
  }

  /* .....NavBar: Icon only with coloring/layout.....*/

  /*small/medium side display*/
  @media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
      position: absolute;
      width: calc(100% - 40px); /*keeps 100% minus nav size*/
      margin-left: 40px;
      float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
      padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      z-index: 8000;
      margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
      width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
      margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
      opacity: 0;
    }
  }

  /* .....NavBar: Fully showing nav bar..... */

  @media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
      width: calc(100% - 200px); /*keeps 100% minus nav size*/
      margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
      margin-left: 0px;
      float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }




  body{
    background:#e9eaed;
  }
    
h1, h2, h3, h4, h5, h6{
    font-family: 'Open Sans Condensed', sans-serif, sans-serif;
}
  
.container{
  }

.wrapper{
  position: absolute;
  left: 50px;
  }

#header{
  border:1px solid #ddd;
  margin-bottom:20px;
  }
  


  
.navbar{
  border-radius:0;
  margin-bottom:0;
  border:none;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;

  }
    
.navbar > li >a{
    
    }
  

  
.navbar-header2{
  position: absolute;
  }
  
.navbar-brand2{
  position: relative;
  top: -110px;
width:160px;
height:160px;
float:left;
padding:0;
margin-top:0px;
overflow:hidden;
border:3px solid #eee;
margin-left:15px;
background:#333;
text-align:center;
line-height:160px;
color:#fff !important;
font-size:2em;
    -webkit-transition:  all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out ;

  }
  
  
.site-name{
  color:#fff;
  font-size:2.4em;
  float:left;
  margin-top:-65px !important;
  margin-left:15px;
        font-family: 'Open Sans Condensed', sans-serif, sans-serif;

  } 
.site-description{
  color:#fff;
  font-size:1.3em;
  float:left;
  margin-top:-30px !important;
  margin-left:15px;
  }
  
.main-menu{
  position:absolute;
  left:190px;
  }
  
.slider, .carousel{
  max-height:260px;
  overflow:hidden;
  }
  
.carousel-control .fa-angle-left,
.carousel-control .fa-angle-right {
position: absolute;
top: 50%;
font-size:2em;
z-index: 5;
display: inline-block;
}

.carousel-control{
  background-color:transparent;
  background-image:none !important;
  }
  
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  background-color:transparent !important;
  background-image:none !important;
  outline: 0;
}


  

  
  
@media (max-width: 768px) {
.navbar-brand2{
    max-width: 100px;
  max-height:100px;
  float:left;
  margin-top:-65px;
  margin-left:15px;
  -webkit-transition:  all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition:  all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out ;
  }
  

  


.navbar{
  border-radius:0;
  margin-bottom:0;
  border:none;
  }
  
.main-menu{
  left:0;
  position:relative;
  }


}

@media (max-width: 490px) {
  .site-name{
  color:#fff;
  font-size:1.5em;
  float:left;
  line-height:20px;
  margin-top:-100px !important;
  margin-left:125px;
  } 
.site-description{
  color:#fff;
  font-size:1.3em;
  float:left;
  margin-top:-80px !important;
  margin-left:125px;
  }
  }
