<!DOCTYPE html>
<html lang="en" style="height: 655px;">

<head>
  <meta charset="utf-8">
  <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./CSS/Master.css">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./CSS/ProfileCarousel.css">
</head>
<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand bootlogo" href="#">BootCamping<img src="Icons/boots.svg"></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">
            <div class='col-xs-5'>Profile</div><img class="col-xs-offset-5 iconglyph" src="Icons/jason.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li class="active">
          <a href="#">
            <div class='col-xs-5'>Campsites</div><img class="col-xs-offset-5 iconglyph" src="Icons/tent.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li>
          <a href="#">
            <div class='col-xs-5'>Trails</div><img class="col-xs-offset-5 iconglyph" src="Icons/boots.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <div class='col-xs-5'>Backpacks</div><span class="caret"></span> <img class="col-xs-offset-4 iconglyph" src="Icons/backpack.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
          <ul class="dropdown-menu forAnimate" role="menu">
            <li><a href="#">Day Trip</a></li>
            <li><a href="#">Heavy Weight</a></li>
            <li><a href="#">Light Weight</a></li>
            <li><a href="#">Weekend</a></li>
            <li><a href="#">Family</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <div class='col-xs-5'>Meal Plans</div><img class="col-xs-offset-5 iconglyph" src="Icons/thinfish.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li>
          <a href="#">
            <div class='col-xs-5'>First Aid</div><img class="col-xs-offset-5 iconglyph" src="Icons/firstaid.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
        <li>
          <a href="#">
            <div class='col-xs-5'>Activities</div><img class="col-xs-offset-5 iconglyph" src="Icons/machete.svg"><span style="font-size:16px;" class="pull-right hidden-xs showopacity"></span></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="main">
  <!-- Content Here -->
</div>

<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,400,700);
</style>
</head>

<body>
  <link rel="stylesheet prefetch" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
  <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <header id="header">
            <div class="slider">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <div class="item">
                    <img src="http://placehold.it/1200x400/F34336/F34336&amp;text=WORDPRESS THEME DEVELOPER">
                  </div>
                  <div class="item active">
                    <img src="http://placehold.it/1200x400/20BFA9/ffffff&amp;text=CLEAN %26 SMART">
                  </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
            <!--slider-->
            <nav class="navbar navbar-default">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainNav">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand2" href="#"><img class="img-responsive" src="http://rolyart.ro/wp-content/uploads/2016/07/roland-maruntelu-freelancer-romania.jpg"></a>
                <span class="site-name"><b>Jason</b> Voorhees</span>
                <span class="site-description">worpress theme developer</span>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="mainNav">
                <ul class="nav main-menu navbar-nav">
                  <li><a href="#"><i class="fa fa-home"></i> HOME</a></li>
                  <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
                </ul>
                <ul class="nav  navbar-nav navbar-right">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </nav>
            <div> HELLO WORLD THIS IS A PSEUDO BIO</div>
          </header>
          <!--/#HEADER-->
          <script type="text/javascript">
          </script>
        </div>
      </div>
    </div>
  </div>
</body>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="Carousel" class="carousel2 slide">
          <div id="CampSiteCarousel">Camp Sites</div>
          <ol class="carousel-indicators">
            <li data-target="#Carousel" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel" data-slide-to="1"></li>
            <li data-target="#Carousel" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
          </div>
          <!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
      </div>
      <div class="col-md-12">
        <div id="Carousel2" class="carousel3 slide">
          <div id="TrailsCarousel">Trails</div>
          <ol class="carousel-indicators">
            <li data-target="#Carousel2" data-slide-to="0" class="active"></li>
            <li data-target="#Carousel2" data-slide-to="1"></li>
            <li data-target="#Carousel2" data-slide-to="2"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="item active">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
            <div class="item">
              <div class="row">
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
                <div class="col-md-3">
                  <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
                </div>
              </div>
              <!--.row-->
            </div>
            <!--.item-->
          </div>
          <!--.carousel-inner-->
          <a data-slide="prev" href="#Carousel2" class="left carousel-control">‹</a>
          <a data-slide="next" href="#Carousel2" class="right carousel-control">›</a>
        </div>
        <!--.Carousel-->
      </div>
    </div>
    <div class="col-md-12">
      <div id="Carousel3" class="carousel4 slide">
        <div id="BackPackCarousel">Back Packs</div>
        <ol class="carousel-indicators">
          <li data-target="#Carousel3" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel3" data-slide-to="1"></li>
          <li data-target="#Carousel3" data-slide-to="2"></li>
        </ol>
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
          <div class="item">
            <div class="row">
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
              <div class="col-md-3">
                <a href="#" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" style="max-width:100%;"></a>
              </div>
            </div>
            <!--.row-->
          </div>
          <!--.item-->
        </div>
        <!--.carousel-inner-->
        <a data-slide="prev" href="#Carousel3" class="left carousel-control">‹</a>
        <a data-slide="next" href="#Carousel3" class="right carousel-control">›</a>
      </div>
      <!--.Carousel-->
    </div>
  </div>
  </div>
  <!--.container-->
 <script type="text/javascript" src="./JS/Master.js">
</script>
</body>
</body>

</html>
